*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

.home{
    background-color:blueviolet ;
    min-height: 100vh;
    position: relative;
}

.topnav{
    width: 100%;
}

.topnav ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 6rem ;
}

.topnav ul li{
    padding:3rem 2rem;
}
.topnav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    display:inline-block;
    color: #fff;
    font-weight: 500;
}



.topnav ul li a:hover{
    color:yellow;
}


.home-content{  
    max-width: max-content;
    margin: 4rem auto 0 auto;
}

.quote1{
    max-width: 55rem;
}

.quote1 h3{
    font-size: 2rem;
    font-weight: 900;
    color:#071f70
}


.quote-and-image{
    width:100%;
    display:flex;
    
}

.quote2{
    max-width:40rem;
}
.quote2 h2{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(65, 6, 33);
}

.covid-image-container{
    box-sizing: border-box;
}

.covid-image-container img{
    max-width:25rem;
    max-height: 25rem;
    padding-left:  30px;
    padding-top: 10px;
}

@media (max-width:1250px){
    .home-content{
        margin: 3.5rem 5rem 0rem 5rem;
    }
    .covid-image-container{
        width: 100%;
    }
    .covid-image-container img{
        padding:0;
        float: right;
        margin-right: 1rem;
    }
    .quote-and-image{
      flex-wrap: wrap;  
    }
    .topnav ul{
        margin-left: 4.2rem;
    }
    .topnav ul li{
        padding:3rem 1rem 3rem 0.8rem ;
    }
    .topnav ul li a{
        font-size: 1.7rem;
    }
}

.tip-container{
    background-color: azure;

}


.tip{
    border: 2px solid red;
    border-radius: 4px;
    padding-top:2rem;
    padding-bottom:2rem;
    max-width: 80%;
    margin:3rem auto;

}

.tip-image, .tip-image2{
    display: flex;
}

.tip-image img, .tip-image2 img{
    height: 350px;
    width: 350px;
    margin: auto;
}

.tip-text, .tip-text2{
    text-align: center;
    flex:1;
    font-size:1.3rem;
}

.caption{
    margin: auto;
}

.heading{
    text-align: center;
    font-size:2rem;
}

.heading h2{
    padding:2rem;
}

@media (min-width:900px){
    .tip{
        display: flex;
        justify-content: center;
        margin:3.5rem auto;
    }

    .tip-text, .tip-text2{
        margin: auto;
        flex:1;
    }
    .tip-image,.tip-image2{
        flex:1;
    }
    .tip-text2{
        order: 1;
    }
    .tip-image2{
        order: 2;
    }

}

.symptoms{
    width: auto;
    min-height:80vh;
    background-color: violet;
}

.symptoms table{
    border: 1px solid black;
    min-width: 60%;
    max-width: 80%;
    margin : 2em auto ;
    border-collapse: collapse;
}

.symptoms th{
    border: 5px solid black;
    text-align: center;
    height:  60px;
    font-size: 25px;
}

.symptoms td{
    border: 5px solid black;
    text-align: center;
    height: 60px;
}

.faqs{
    min-height: 100vh;
}

.faqs section{
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid violet;
    border-radius: 3px;
}
.faqsitem{
    width: 85%;
    margin: 2.5rem auto;
    border: 1px solid violet;
    border-radius: 5px;
}

.faqsitem h3{
    text-align: center;
    margin-top:1rem;   
}
.faqsitem p{
    padding:1.5rem;
}


.ytsec5{
    min-height: 80vh;
}
.embedVideo{
    width: fit-content;
    margin: 2.5rem auto 5rem auto;
}

.embedVideo iframe{
     min-width: 45rem;
    min-height: 28rem;
}

footer{
    min-height: 20vh;
    background-color: violet;

}

footer p{
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}